requests
paramiko
psycopg2-binary
psutil
flask
xmltodict
defusedxml
apache-libcloud
python-openstackclient
python-neutronclient
python-glanceclient
python-keystoneclient
uwsgi
google-api-python-client
oauth2client
google-cloud-compute
boto3
azure-mgmt-resource
azure-mgmt-compute
azure-mgmt-network
azure-identity
oci
